body {
    background-color: rgb(255, 184, 78);
    color: rgb(92, 92, 92);
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    background-image: "";
}

.lists {
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.list-wrapper {
    display: inline-block;
    width: 272px;
    box-sizing: border-box;
    background-color: #f3f3f3;
    border-radius: 6px;
    max-height: 100%;
    position: relative;
    padding: 20px;
    padding-bottom: 10px;
    margin-right: 10px;
}

.list-header {
    margin-top: 0;
    
}

.list-cards {
    padding-left: 0;
    list-style-type: none;

}

.list-cards-card {
    padding: 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: grab;
}

.list-cards-card.dragged {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background: #e6e6e6;
    width: 192px;
    list-style-type: none;
    
}

.list-cards-card:hover {
    background-color: #e6e6e6;
}

.list-cards-card-remove:hover {
    font-weight: bold;
}

.list-cards-card-remove::after {
    position: absolute;
    right: 10%;
    font-family: FontAwesome;
    content: "✕";
    font-size: 12px;
    vertical-align: middle;
    cursor: pointer;
}


.card-composer {
    padding: 4px;
    border-radius: 4px;
}

.card-composer:hover {
    background-color: #e6e6e6;
}

.card-composer-icon::before {
    font-family: FontAwesome;
    content: "+";
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.card-composer-form-textarea {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    resize: none;
    padding: 10px;
    border: 1px solid #999;
    outline: none;
	-moz-appearance: none;
}

.card-composer-form-cancel::before {
    font-family: FontAwesome;
    content: "✕";
    font-size: 14px;
    vertical-align: middle;
}

.card-composer-form-cancel {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}

.card-composer-form-cancel:hover {
    background-color: #e6e6e6;
}

.card-composer-form-button {
    font-family: BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #fdfdfd;
    box-shadow: none;
    border: none;
    width: 100px;
    height: 30px;
    margin-top: 8px;
}

.card-composer-form-button:hover {
    background-color: #e6e6e6;
}

.hidden {
    display: none;
}